In [1]:
# evaluate exercises

# Exercises

Do you work for this exercise in either a jupyter notebook named evaluate within your regression-exercises repository. By the end of this exercise you will also create a python script named evaluate, so the overall deliverables for this exercise are the python script and jupyter notebook both with the name evaluate within your regression-exercises repo.

 - Load the tips dataset from either pydataset or seaborn.

 - Fit a linear regression model (ordinary least squares) and compute yhat, predictions of tip using total_bill.

 - Here is some sample code to get you started:

In [ ]:
# from sklearn.linear_model import LinearRegression

# assuming X and y are already defined
# model = LinearRegression().fit(X, y)
# predictions = model.predict(X)

- Modify and add to the code above as necessary for it to work with the tips dataset.

- Plot the residuals for the linear regression model that you made.

- Calculate the sum of squared errors, explained sum of squares, total sum of squares, mean squared error, and root mean squared error for your model.

- Calculate the sum of squared errors, mean squared error, and root mean squared error for the baseline model (i.e. a model that always predicts the average tip amount).

- Write python code that compares the sum of squared errors for your model against the sum of squared errors for the baseline model and outputs whether or not your model performs better than the baseline model.

- What is the amount of variance explained in your model?

- Is your model better than the baseline model?

- Create a file named evaluate.py that contains the following functions.

    - plot_residuals(y, yhat): creates a residual plot
    - regression_errors(y, yhat): returns the following values:
        - sum of squared errors (SSE)
        - explained sum of squares (ESS)
        - total sum of squares (TSS)
        - mean squared error (MSE)
        - root mean squared error (RMSE)
    - baseline_mean_errors(y): computes the SSE, MSE, and RMSE for the baseline model
    - better_than_baseline(y, yhat): returns true if your model performs better than the baseline, otherwise false

Load the mpg dataset and fit a model that predicts highway mileage based on engine displacement. Take a look at all the regression evaluation metrics, and determine whether this model is better than the baseline model. Use the functions from your evaluate.py to help accomplish this.

In [9]:
# imports
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pydataset import data
from statsmodels.formula.api import ols

from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from sklearn.metrics import mean_squared_error
from math import sqrt
import matplotlib.pyplot as plt

In [10]:
# getting my tips data
df = data('tips')

In [11]:
df.head() # check_yo_head

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
# defining my 'x' and 'y' values
x = df['total_bill']
y = df['tip']

In [14]:
# creating a baseline for my df
df['yhat_baseline'] = df['tip'].mean()

In [15]:
df.head() #check_yo_head

   total_bill   tip     sex smoker  day    time  size  yhat_baseline
1       16.99  1.01  Female     No  Sun  Dinner     2       2.998279
2       10.34  1.66    Male     No  Sun  Dinner     3       2.998279
3       21.01  3.50    Male     No  Sun  Dinner     3       2.998279
4       23.68  3.31    Male     No  Sun  Dinner     2       2.998279
5       24.59  3.61  Female     No  Sun  Dinner     4       2.998279

In [17]:
from sklearn.linear_model import LinearRegression

# assuming X and y are already defined
model = LinearRegression().fit(X, y)
predictions = model.predict(X)

NameError: name 'X' is not defined