# Scaling Exercises

1. Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution .
2. Apply the .inverse_transform method to your scaled data. Is the resulting dataset the exact same as the original data?
3. Read the documentation for sklearn's QuantileTransformer. Use normal for the output_distribution and apply this scaler to your data. Visualize the result of your data scaling.
4. Use the QuantileTransformer, but omit the output_distribution argument. Visualize your results. What do you notice?
5. Based on the work you've done, choose a scaling method for your dataset. Write a function within your prepare.py that accepts as input the train, validate, and test data splits, and returns the scaled versions of each. Be sure to only learn the parameters for scaling from your training data!

In [21]:
# imports

import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os 

from env import host, user, password
from wrangle import new_zillow, wrangle_zillow, wrangle_prep_zillow


import sklearn.preprocessing
from sklearn.model_selection import train_test_split

In [22]:
# getting my zillow data
df = wrangle_zillow()

In [23]:
# assigning my prep function to df
df = wrangle_prep_zillow(df)

In [24]:
df.head() #check_yo_head

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4,2,3633,296425,2005,6941,6037
6,3,4,1620,847770,2011,10244,6037
7,3,2,2077,646760,1926,7924,6037
11,0,0,1200,5328,1972,91,6037
14,0,0,171,6920,1973,255,6037

In [26]:
# split the data

train_and_validate, test = train_test_split(df, test_size=.12, random_state=123)
train, validate = train_test_split(train_and_validate, test_size=.12, random_state=123)

train.shape, test.shape, validate.shape

((1649637, 7), (255626, 7), (224951, 7))

In [28]:
# 1. create the object
scaler = sklearn.preprocessing.MinMaxScaler()

# 2. fit the object (learn the min and max value)
scaler.fit(train[['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt', 'yearbuilt', 'taxamount']])

# 3. use the object (use the min, max to do the transformation)

scaled_bill = scaler.transform(train[['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt', 'yearbuilt', 'taxamount']])
scaled_bill[:10]

array([[1.20000000e-01, 6.25000000e-02, 2.87011521e-03, 2.30486302e-03,
        7.90697674e-01, 2.33374610e-03],
       [1.60000000e-01, 9.37500000e-02, 2.38616382e-03, 7.15144868e-03,
        7.76744186e-01, 6.99660049e-03],
       [8.00000000e-02, 3.12500000e-02, 7.04406477e-04, 3.26426535e-03,
        5.76744186e-01, 3.75198846e-03],
       [1.60000000e-01, 9.37500000e-02, 3.11891452e-03, 3.72393624e-03,
        8.32558140e-01, 3.81691780e-03],
       [8.00000000e-02, 3.12500000e-02, 2.30218093e-03, 5.57414010e-03,
        4.27906977e-01, 5.56537225e-03],
       [1.60000000e-01, 9.37500000e-02, 1.78568617e-03, 4.95281879e-03,
        7.86046512e-01, 5.04315482e-03],
       [1.20000000e-01, 9.37500000e-02, 1.40356402e-03, 5.08910011e-03,
        8.51162791e-01, 5.01996577e-03],
       [8.00000000e-02, 3.12500000e-02, 9.77350865e-04, 4.78972693e-03,
        7.11627907e-01, 4.21113167e-03],
       [1.20000000e-01, 6.25000000e-02, 1.18940766e-03, 1.52221282e-03,
        8.55813953e-01, 2.39960300e-03],
       [1.20000000e-01, 6.25000000e-02, 1.37836916e-03, 7.20169902e-04,
        7.20930233e-01, 9.13648612e-04]])

In [29]:
# assign the scaled values as new columns in the train
train[['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt', 'yearbuilt', 'taxamount']] = scaled_bill

In [30]:
train.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
30251,0.12,0.06250,0.002870,0.002305,0.790698,0.002334,6059
1634157,0.16,0.09375,0.002386,0.007151,0.776744,0.006997,6059
467816,0.08,0.03125,0.000704,0.003264,0.576744,0.003752,6037
438194,0.16,0.09375,0.003119,0.003724,0.832558,0.003817,6037
1318124,0.08,0.03125,0.002302,0.005574,0.427907,0.005565,6037